@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

header {
  background-image: url(../img/index/fondo.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.menu .logo {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 10px 30px;
  color: #fff;
  border-radius: 25px;
  display: block;
  text-decoration: none;
  margin-right: 1em;
}

.menu .navbar ul li a:hover {
  background-color: #369bd1;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.header-content img {
  width: 350px;
  height: auto;
}

@media all and (max-width: 991px) {
  .menu {
    padding: 20px;
    margin-left: 70%;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #148afa;
    display: none;
    flex-direction: column;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: flex;
  }

  header {
    height: 0vh;
    padding: 200px 0px;
    background-position: center;
  }

  .header-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 3px;
  }

  .content {
    padding: 0px;
  }

  .header-content img {
    width: 300px;
  }
}
